$header-color: antiquewhite;

.main-body{
    height: 100%;
    .main-body-contents{
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .each-body-space{
        padding-bottom: 10%;
    }
  }
  
  .c-header{
    background-color: antiquewhite;
    height: 100%; 
  }