@import "main.scss";

.header{
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: hsl(197, 86%, 80%);
  height: 60px;
  nav{
    background-color: $header-color !important;
    color: white;
  }
}

.space{
  padding: 10px;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: aliceblue;  
}

.btn-align{
  padding: 10px;
  padding-left: 80%;
}
.main-container{
  padding: 0%;
}

.button-radius{
  border-radius: 60px;
  background-color: antiquewhite;
}